@tailwind base;
@tailwind components;
@tailwind utilities;

body, html, #__next {
    @apply h-full min-w-[320px];
}

body {
    @apply font-medium;
}

#__next {
    @apply flex flex-col;
}

.article-contain {
    display: flex;
}

.article-container {
    display: flex;
    padding: 1rem;
}

.article-image-header {
    display: block;
    width: auto;
}

.article-image {
    min-width: 100px !important;
    min-height: 100px !important;
    display: inline-block;
}

.article-text {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.article-subtitle {
    font-weight: 700;
    font-size: 14px;
}

.article-date {
    color: grey;
    padding-bottom: 10px;
    font-size: 11px;
    font-weight: 600;
}

.form-input {
    border: 2px black solid;
}

.form-title {
    color: grey;
    font-size: 13px;
}

@media  (min-width: 500px) {
    .container {
        display: flex;
    }

    .article-container {
        padding: 1rem;
        display: inline-block !important;
    }

    .article-image {
        display: inline-block !important;
       
    }
    
    .article-date {
        font-size: 9px;
        font-weight: 600;
    }
    
    .article-subtitle {
        font-weight: 600;
        font-size: 13px;
    }
}

